*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
}

@media (max-width: 790px) {
  html {
    --spacing: 1.5rem;
  }
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: fantasy;
  overflow: hidden;
  
}

.canvas-container {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}


#display-canvas:hover {
  cursor: grab;
}

#display-canvas:active {
  cursor: grabbing;
}

#display-canvas:focus-visible {
  outline: none;
}
#counter {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 36px;
  font-weight: bold;
  color: goldenrod;
  z-index: 110;
}

.Overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  z-index: 100;
}